<div class="forum-card">
    <div class="card-header grid-cols-3 grid " [style.background]="headerColor">
      <h2 class="font-mono font-semibold text-gray-900 col-span-2">{{ title }}</h2>
      <button (click)="createQuestion()" class="bg-[#D0F5BE] hover:bg-[#D0F60E] font-bold py-2 px-4 rounded col-span-1 text-sm font-bold font-mono text-[#000000] ">
        Ask a question
      </button>
    </div>
    <div class="card-content">
      <app-forum-items *ngFor="let item of items" [title]="item.title" [id]="item.id" [description]="item.contentText" (itemClicked)="handleItemClick()"></app-forum-items>
    </div>
  </div>
  
  <!-- <div class="card">
    <h2>Card Title</h2>
    <app-forum-items *ngFor="let item of items" [title]="item.title" [description]="item.description" (itemClicked)="handleItemClick()"></app-forum-items>
  </div> -->
  