<div class="flex justify-center">
    <h3 class="font-mono mb-2 mt-0 text-3xl font-bold leading-tight py-10">
      Community
    </h3>
  </div>
  

<div class="forum-card-container">
    <app-forum-card title="Software Engineering" details="Short details of Forum 1" headerColor="#C9EEFF"></app-forum-card>
    <app-forum-card title="Technology" details="Short details of Forum 2" headerColor="#AA77FF"></app-forum-card>
    <app-forum-card title="Problem Solving" details="Short details of Forum 1" headerColor="#C9EEFF"></app-forum-card>
    <app-forum-card title="Academic" details="Short details of Forum 2" headerColor="#AA77FF"></app-forum-card>
</div>
  